@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";


/* 2. Creamos una clase para usarla fácilmente */
.font-principal {
    font-family: 'Varela Round', sans-serif;
}

p {
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}